body{
    background-color: rgb(18, 18, 59);
    color: white;
}
h1{
    text-align: center;
    margin-top: 1em;
}
#contenedorTablero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}
#tablero{
    display: grid;
    grid-template-columns: repeat(9 , 1fr);
    grid-gap:5px;
    padding: 10px;
}
.cuadrado{
    background-color: rgb(18, 18, 59);
    border: 2px solid rgb(18, 18, 59);
    min-width: 45px;
    min-height: 45px;
    


}
#contenedorTeclado{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#botonPista{
    
    height: 50px;
    background-color:rgb(18, 18, 59);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 3px;
    border-style: solid;
    border-color: white; 
    
    
}
.tecla{
    margin: 2px;
    width: 35px;
    height: 50px;
    background-color:rgb(18, 18, 59);
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 3px;
    border-style: solid;
    border-color: white; 
    cursor: pointer;
}
.botonLargo{
    width: 75px;
}

#parrafoPista{
    font-size: xx-large;
}