body{
    background-color: rgb(18, 18, 59);
    color: white;
}
h1{
    text-align: center;
    margin-top: 1em;
}
#contenedorTablero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}
#tablero{
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-gap:5px;
    padding: 10px;
}
.cuadrado{
    border: 2px solid white;
    min-width: 60px;
    min-height: 60px;
}